<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @record.user_name %>
</p>

<p>
  <strong>Crop name:</strong>
  <%= @record.crop_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<p>
  <strong>Work name:</strong>
  <%= @record.work_name %>
</p>

<p>
  <strong>Work reason:</strong>
  <%= @record.work_reason %>
</p>

<p>
  <strong>Technical supplement:</strong>
  <%= @record.technical_supplement %>
</p>

<p>
  <strong>Consideration:</strong>
  <%= @record.consideration %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @record.evidence %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @record.photo %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
